.client {
    padding-bottom: 100px;
    &-list {
        display: flex;
    }
    &-item {
        flex: 1;
        padding: 45px 25px;
        border: 1px solid #eee;
        border-radius: 20px;
        text-align: center;
        transition: all 0.2s linear;
    }
    &-item:hover {
        border-color: transparent;
        box-shadow: 0 0 50px 10px rgba(black, 0.03);
    }
    &-item:not(:first-child) {
        margin-left: 70px;
    }
    &-image {
        height: 120px;
        width: 120px;
        border-radius: 50%;
        object-fit: cover;
        margin: 0 auto 25px;
    }
    &-name {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    &-position {
        color: $gray;
        font-size: 14px;
        display: block;
        padding-bottom: 25px;
        margin-bottom: 20px;
        border-bottom: 1px solid #eee;
    }
    &-content {
        color: $gray;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.8;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        max-width: 100%;
        word-break: break-word;
        margin-bottom: 30px;
    }
    &-rate {
        display: flex;
        align-items: center;
        justify-content: center;
        i {
            margin: 0 5px;
            color: $yellow;
            font-size: 20px;
        }
    }
}